* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

body,
html {
    background: #25272c;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.logo-img {
    margin-top: .2em;
    margin-left: 2.3em;
    max-width: 3.2em;
    height: auto !important;
    cursor: default;
}

.logo-text {
    position: absolute;
    top: .3em;
    left: 3.5em;
    font-size: 2em;
    color: white;
}

[data-tooltip] {
    position: relative;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    font-size: 0.7em;
    width: auto;
    max-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 0.8em;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
    transition: .4s;
    z-index: 200;
}

[data-tooltip]:hover::after {
    opacity: 1;
    top: 5.7em;
    backdrop-filter: blur(4px);
}

.theme {
    padding: 0;
    margin: 0;
}

.content {
    margin: 10px auto 20px;
    display: block;
    position: relative;
    color: white;
}

.count-th {
    font-size: 1.2em;
    position: relative;
    display: inline-flex;
    top: 0;
    width: auto;
    left: 1.5em;
    font-family: sans-serif;
    transition: .2s;
}

.count-th:hover {
    font-size: 1.3em;
}

.theme {
    padding: 0;
    width: auto;
    height: auto;
    background: rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
    padding-bottom: 35px;
    transition: .4s;
}

.title {
    position: relative;
    width: 100%;
    font-family: sans-serif;
    font-size: 2em;
    padding-top: 15px;
    padding-bottom: 15px;
}

.preview img {
    position: relative;
    width: 95%;
    top: 0;
    border: 2px solid #cc181879;
    border-radius: 8px;
    transition: .5s;
}

.preview img:hover {
    border: 2px solid #7863f0;
}

.description {
    position: relative;
    top: 0;
    font-family: sans-serif;
    font-size: 1em;
    padding-top: 15px;
    padding-bottom: 25px;
}

.download {
    display: inline-flex;
    position: relative;
    top: 0;
    font-size: 2em;
    background: #000000;
    padding: 10px;
    border: 2px solid #f063638e;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    transition: .3s;
}

.download:hover {
    border-radius: 24px;
    background: rgb(36, 16, 34);
}

.open-css {
    position: relative;
    background: #000000;
    color: white;
    border: 2px solid #f063638e;
    font-size: 1.5em;
    border-radius: 20px;
    padding: 14px;
    top: 0;
    margin-left: 10px;
    text-decoration: none;
    transition: .3s;
}

.open-css:hover {
    border-radius: 24px;
    background: rgb(36, 16, 34);
}

.buttons {
    display: inline-flex;
    align-items: center;
}

.empty {
    height: 70px;
}

.footer {
    height: auto !important;
    height: 10%;
    position: relative;
    font-size: 1em;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    font-family: sans-serif;
    color: white;
    transition: .15s;
    z-index: 20;
}

.footer:hover {
    font-size: 1.1em;
    padding: 15px;
    background: rgba(0, 0, 0, 0.9);
}

.heart {
    color: red;
}

#menu__toggle {
    display: none;
}

@media only screen and (max-width: 720px) {
     ::-webkit-scrollbar {
        display: none;
    }
    [data-tooltip]::after {
        display: none;
    }
    .menu {
        position: fixed;
        width: 100%;
        height: auto;
        top: 0;
        z-index: 30;
    }
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4em;
        background: rgb(0, 0, 0);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .6);
        transition: .2s;
    }
    .logo-img {
        position: absolute;
        top: 0;
        margin-left: 20px;
    }
    .logo-text {
        position: absolute;
        top: 7px;
        left: 80px;
        font-size: 2em;
        color: white;
    }
    .footer {
        font-size: .7em;
    }
    /* + menu на мобилу */
    .hamburger-menu {
        display: inline-flex;
        position: absolute;
        opacity: 1;
    }
    #menu__toggle {
        opacity: 0;
    }
    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 18px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 20;
    }
    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: rgb(255, 255, 255);
    }
    .menu__btn>span::before {
        content: '';
        top: -8px;
    }
    .menu__btn>span::after {
        content: '';
        top: 8px;
    }
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: -100%;
        width: 60%;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        z-index: 10;
        backdrop-filter: blur(0px);
    }
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: rgb(255, 255, 255);
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        text-decoration: none;
        z-index: 11;
    }
    .menu__box {
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        backdrop-filter: blur(6px);
    }
    .menu-p ul {
        display: block;
    }
    .menu__item:hover {
        background-color: #a5a5a515;
    }
    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
        opacity: 0;
    }
    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked~.menu__box {
        visibility: visible;
        right: 0;
    }
    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        transition-duration: .25s;
    }
    .menu__box {
        transition-duration: .25s;
    }
    .menu__item {
        transition-duration: .25s;
    }
    /* проблемная хyня */
    .theme {
        margin-left: 7px;
        margin-right: 7px;
    }
}

.footer {
    font-size: .8em;
}

.footer:hover {
    font-size: .85em;
}

@media only screen and (max-width: 1200px) {
    .theme {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media only screen and (min-width: 720px) {
    .menu {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 30;
    }
    .menu {
        background: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(4px);
    }
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4em;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
        transition: .2s;
    }
    .menu-p {
        align-self: center;
        font-family: sans-serif;
        margin: 0 0.8em 0 0;
    }
    .menu-p {
        transition: .2s;
    }
    .menu-p ul {
        display: flex;
        flex-flow: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: .3s;
        list-style-type: none;
    }
    .menu-p ul li a {
        padding: 1.45em 20px;
        text-transform: uppercase;
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
        transition: .3s;
    }
    .menu-p ul li a:hover {
        background: rgba(234, 77, 255, 0.26);
        color: rgb(255, 255, 255);
        transition: .3s;
    }
}