* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

body,
html {
    background: #25272c;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(6px);
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.logo-img {
    margin-top: .2em;
    margin-left: 2.3em;
    max-width: 3.2em;
    height: auto !important;
}

.logo-text {
    position: absolute;
    top: .3em;
    left: 3.5em;
    font-size: 2em;
    color: white;
}

.menu-p {
    align-self: center;
    font-family: sans-serif;
    margin: 0 0.8em 0 0;
}

div.menu-p ul {
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: .5s;
    list-style-type: none;
}

div.menu-p ul li a {
    padding: 1.45em 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: .5s;
}

div.menu-p ul li a:hover {
    background: rgba(234, 77, 255, 0.26);
    color: rgb(255, 255, 255);
    transition: .5s;
}

[data-tooltip] {
    position: relative;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    font-size: 0.7em;
    width: auto;
    max-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 0.8em;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
    transition: .4s;
}

[data-tooltip]:hover::after {
    opacity: 1;
    top: 5.7em;
    backdrop-filter: blur(2px);
}

.content {
    margin: 10px auto 20px;
    display: block;
    position: relative;
    color: white;
}

.count-th {
    font-size: 1.2em;
    position: absolute;
    width: auto;
    left: 1.5em;
    font-family: sans-serif;
    transition: .2s;
}

.count-th:hover {
    font-size: 1.3em;
}

.theme {
    padding: 3em;
}

.title {
    position: relative;
    font-family: sans-serif;
    font-size: 2.5em;
}

.preview img {
    position: relative;
    top: 1.5em;
    width: 800px;
    border: 2px solid #f06363;
    border-radius: 8px;
    padding: 0px;
    transition: .5s;
}

.preview img:hover {
    border: 2px solid #7863f0;
}

.description {
    position: relative;
    top: 1.7em;
    font-family: sans-serif;
    font-size: 1.2em;
}

.download {
    display: inline-flex;
    position: relative;
    top: 1.5em;
    font-size: 2em;
    background: #000000;
    padding: 10px;
    border: 2px solid #f06363;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    transition: .3s;
}

.download:hover {
    background: #f06363;
    color: rgb(121, 2, 111);
}

.empty {
    height: 10vh;
}

.footer {
    height: auto !important;
    height: 10%;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    font-family: sans-serif;
    color: white;
    transition: .3s;
    z-index: 20;
}

.footer:hover {
    font-size: 1.1em;
    padding: 15px;
    background: rgba(0, 0, 0, 0.9);
}

.heart {
    color: red;
}